.contents
  .contents__header
    .contents__header--userName
    = current_user.name
    =link_to new_group_path, class: "contents__header__btn contents__header__btn__edit" do
      = icon('fas', 'edit', class: "contents__header__btn__icon")
    =link_to edit_user_path(current_user), class: "contents__header__btn contents__header__btn__cog" do
      = icon('fas', 'cog', class: "contents__header__btn__icon")
  .contents__group
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            - if group.messages.empty?
              メッセージはまだありません
            - else
              = group.messages.last.content